<h1>Graders for Section <%= @section.section_number %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Display Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @graders.each do |grader| %>
      <tr>
        <td><%= grader.display_name %></td>
        <td><%= grader.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', course_path(@section.course), class: 'btn btn-secondary' %>
