<!DOCTYPE html>
<html>
<head>
  <title>CourseInsight</title>
  <%= stylesheet_link_tag 'home', media: 'all' %>
</head>
<body>
  <div class="home-container">
    <div class="admin-content">
      <h1>Welcome to CourseInsight</h1>
      <p>Your one-stop solution for managing course information in the Computer Science and Engineering department at Ohio State University. Whether you're a student, instructor, or admin, CourseInsight provides an efficient and hassle-free way to view and manage course details.</p>
      <h2>CourseInsight - Simplifying Course Management for Academic Excellence</h2>
    </div>
  </div>
</body>
</html>
